<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">would you like to import your calendar?</div>
  </div>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4"><button class="btn btn-success btn-raised" onclick="window.location.href='/import'">asdf</button></div>
    <div class="col-md-4"><button class="btn btn-warning btn-raised">fdsa</button></div>
  </div>
</div>


</body>
</html>