<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">

<center>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* Bordered form
form {
    border: 3px solid #f1f1f1;
    color: #FFFAF0;
}*/

/* Full-width inputs */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: white;
}

/* Set a style for all buttons*/
button {
    background-color: #FF7F50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;

}

body {
	background-image: url(https://66.media.tumblr.com/0cfaf15293f46e58a93629eab98917a8/tumblr_ofhdhf5hAX1rhygm8o3_540.jpg) no-repeat center center fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
}

/* Add padding to containers
.container {
    padding: 16px;
    width: 300px;
    text-align: left;
}*/

</style>
</head>
<body background="https://66.media.tumblr.com/0cfaf15293f46e58a93629eab98917a8/tumblr_ofhdhf5hAX1rhygm8o3_540.jpg">
<div style="font-family: 'Roboto Mono', monospace;" >
<br>
<br>
<h1>login to experience the power of efficiency</h1>
</div>
<br>
<br>
<br>
<form action="/login" method="post">
  <div class="container">
    <div class="form-group">

    <div class="row" >
  		<div class="col-md-4">&nbsp;</div>
  		<div class="col-md-4">
    		<label>Email</label>
    		<input class = "form-control" placeholder="Enter Email" name="email" required/>
  			<label>Password</label> 	
    		<input class = "form-control" placeholder="Enter Password" name="psw" required>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-4">&nbsp;</div>
  		<div class="col-md-4">
  			<button>Login</button>
    		<button onclick="window.location.href='/register/'">Register</button>
    	</div>
    </div>
  </div>
</form>
</center>
</body>
</html>