<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">

<center>
<style>

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons*/
button {
    background-color: #ADD8E6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
}

/* Add padding to containers
.container {
    padding: 16px;
    width: 300px;
    text-align: left;
}*/

</style>
</head>

<h1>LOGIn1@#!#!@#</h1>
<form action="action_page.php">
  <div class="container">
    <div class="form-group">

    <div class="row" >
  		<div class="col-md-4 col-md-offset-2">
    		<label>email</label>
    		<input class = "form-control" placeholder="Enter Email" name="email" required/>
  		</div>
  		<div class="col-md-4">
  			<label>Password</label> 	
    		<input class = "form-control" placeholder="Enter Password" name="psw" required>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-4">
  			<button>Login</button>
    		<button onclick="window.location.href='/register/'">Register</button>
    	</div>
    </div>
  </div>
</form>
</center>
</html>