<!DOCTYPE html>
<html>

<style>
* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Forte,sans-serif;}


.month {
    padding: 70px 25px;
    width: 100%;
    background: #000;
}
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: orange;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:25px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 25%;}
}
</style>
</head>
<body>

<h1>CSS Calendar</h1>

<div class="month">
  <ul>
    <li class="prev">❮</li>
    <li class="next">❯</li>
    <li style="text-align:center">
      {{name}}<br>
      <span style="font-size:40px">{{year}}</span>
    </li>

  </ul>
</div>


<head>
<title>October</title>
</head>

<body>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  
</ul>

<ul class="days">
{{#month}}<li>{{.}}</li>{{/month}}
<!-- // for i in months
    cout << "<li>" << i << "<li>" << std::endl; -->

 
</ul>

</body>
</html>