<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">

<center>
<style>

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons*/
button {
    background-color: #ADD8E6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 300px;
    text-align: left;
}

</style>
</head>

<h1>LOGIn1@#!#!@#</h1>
<form action="action_page.php">
  <div class="container">

    <label>First Name</label>
    <input class = "form-control" placeholder="First Name" name="fname" required/>

    <label>Last Name</label>
    <input class = "form-control" placeholder="Last Name" name="lname" required/>

    <label>Email - this is the email you will use to login</label>
    <input class = "form-control" placeholder="Email" name="email" required/>

	<label>Phone Number - this is the number you will receive sms text messaging reminders</label>
    <br><input class = "form-control" placeholder="xxx-xxx-xxxx" name="number" required/>

    <br><label>Password</label>
    <br><input class = "form-control" placeholder="Enter Password" name="psw" required>

    <br><button>Login</button>
  </div>
</form>
</center>
</html>