<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4"><h1>REGISTRATION is complete!</h1></div>
  </div>
</div>


</body>
</html>