<!doctype html>
<html>
<head>
   <title>Timetable</title>
   <style type="text/css">
   body
   {
       font-family: arial;
   }

   th,td
   {
       margin: 0;
       text-align: center;
       border-collapse: collapse;
       outline: 1px solid #e3e3e3 ;
   }

   td
   {
       padding: 5px 10px;
   }

   th
   {
       background: #666;
       color: white;
       padding: 5px 10px;
   }

   td:hover
   {
       cursor: pointer;
       background: #666;
       color: white;
   }
   </style>

</head>
<body>
   <table width="80%" align="center" >
   <div id="head_nav">
   <tr>
       <th>Time</th>
       <th>Monday</th>
       <th>Tuesday</th>
       <th>Wednesday</th>
       <th>Thrusday</th>
       <th>Friday</th>
       <th>Saturday</th>
       <th>Sunday</th>
   </tr>
</div>  

   <tr>
       <th>6:00 a.m - 6:30 a.m</th>
       
           <td> </td>
           <td> </td>
           <td title="No Class" class="Holiday"></td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td> 
       </div>
   </tr>
<tr>
       <th>6:30 a.m - 7:00 a.m</th>
       
           <td> </td>
           <td> </td>
           <td title="No Class" class="Holiday"></td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   <tr>
       <th>7:00 a.m - 7:30 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>

   <tr>
       <th>7:30 a.m - 8:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>

       </div>
   </tr>

   <tr>
       <th>8:00 a.m - 8:30 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>

       </div>
   </tr>

   <tr>
       <th>8:30 a.m - 9:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   <tr>
       <th>9:30 a.m - 10:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
      <tr>
       <th>10:00 a.m - 10:30 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   </tr>
      <tr>
       <th>10:30 a.m - 11:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   </tr>
      <tr>
       <th>11:00 a.m - 11:30 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   </tr>
      <tr>
       <th>11:30 a.m - 12:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   </tr>
      <tr>
       <th>12:00 a.m - 12:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>  
   </tr>
      <tr>
       <th>12:30 p.m - 1:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr> 
  </tr>
      <tr>
       <th>1:00 p.m - 1:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
    </tr>
      <tr>
       <th>1:30 p.m - 2:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
    </tr>
      <tr>
       <th>2:00 p.m - 2:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>2:30 p.m - 3:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>3:00 p.m - 3:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
   </tr>
      <tr>
       <th>3:30 p.m - 4:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>4:00 p.m - 4:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>4:30 p.m - 5:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>5:00 p.m - 5:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>5:30 p.m - 6:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>6:00 p.m - 6:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>6:30 p.m - 7:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>7:00 p.m - 7:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>7:30 p.m - 8:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>8:00 p.m - 8:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>8:30 p.m - 9:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>9:00 p.m - 9:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>9:30 p.m - 10:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>10:00 p.m - 10:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>10:30 p.m - 11:00 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>11:00 p.m - 11:30 p.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>
</tr>
      <tr>
       <th>11:30 p.m - 12:00 a.m</td>
       
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
       </div>
   </tr>